# Binaries
/temp/
/lobster-guardian

# Logs
**/logs/
env

# Go dependencies
vendor/

# OS files
.DS_Store
release_pkg/
web/node_modules/
web/dist/
internal/api/dist/
monitor_test
data/
temp-dev-test/
